In [6]:
import pandas as pd

In [7]:
import numpy as np

In [9]:
import matplotlib as plt

In [10]:
datos = {
    'Nombre':['Ana', 'Luis', 'Pedro'],
    'Edad':[23,30,27]
}
df = pd.DataFrame(datos)
print(df)

  Nombre  Edad
0    Ana    23
1   Luis    30
2  Pedro    27

## Series

- Es un arreglo unidimensional que puede contener datos de cualquier tipo de `enteros, flotantes, strings, etc` y tiene un indice asocioado. Lo que le da acceso a los datos.

In [11]:
# Crear una lista 
edad = [30,40,60]

In [17]:
# Convertir a serie 
serie = pd.Series(edad)

In [13]:
# Mostrar resultado
serie

0    30
1    40
2    60
dtype: int64

In [18]:
serie [1]

np.int64(40)

In [19]:
# Cambiar indices 
serie = pd.Series(edad, index = ['Alex', 'John', 'Maria'])

In [20]:
serie

Alex     30
John     40
Maria    60
dtype: int64

In [21]:
serie['Alex']

np.int64(30)

In [23]:
naranjas = pd.Series([1,4,9,2,6,10,200])
print(naranjas)

0      1
1      4
2      9
3      2
4      6
5     10
6    200
dtype: int64

In [24]:
type(naranjas)

pandas.core.series.Series

In [26]:
naranjas = pd.Series([1,4,9,2,6,10,200], index = ['Marco', 'Ana', 'Juan', 'Pedro', 'Estela', 'Ivan', 'Luis'])
print(naranjas)

Marco       1
Ana         4
Juan        9
Pedro       2
Estela      6
Ivan       10
Luis      200
dtype: int64