# Limpieza y Transformacion de Datos

In [ ]:
# Importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

### Importar Archivo

In [3]:
salarios = pd.read_csv(.../01-DataSets/linkedin-jobs-usa - copia)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2158883314.py, line 1)

In [ ]:
salarios_limpieza = salarios.copy()

## Tratamiento de Duplicados

In [ ]:
salarios.drop_duplicates()

In [ ]:
salarios_limpieza.duplicated()

In [ ]:
salarios_limpieza.duplicated().sum

In [ ]:
salarios[salarios_limpieza.duplicated()]

In [ ]:
salarios_limpieza[salarios_limpieza]

## Tratamiento de Valores Nulos

- Visualizar valores nulos

In [ ]:
salarios_limpieza.isna()

In [ ]:
Print(f"Valores Nan por columna{salarios_limpieza.isna().sum()}")

## Aqui va la opcion 1

In [ ]:
df_sin_nulos = salarios.dropna()

df_sin_nulos_columnas = salarios.dropna(axis=0)

### axis = 0 revisa por fila
### axis = 1 revisa por columna

### how = 'any' elimina si al menos uno es nulo
### how = 'all' elimina solo si todos son nulos

In [ ]:
df_sin_nulos.isna().sum()

In [ ]:
df_sin_nulos['salary'].head()

In [ ]:
df_sin_nulos.shape

# Transformacion de Datos

### 2da Opcion: Remplazar NaNs por la Media

### Parsing ("parseo") de la columna Salary

In [ ]:
# Este código toma una columna 'salary' que contiene valores de salario en formato de cadena, 
# elimina cualquier caracter no numérico, extrae los dígitos y convierte la columna resultante 
# en valores numéricos de tipo float. 
# El resultado se almacena en una nueva columna llamada 'salary_numeric'. 
# Esto es útil cuando la columna 'salary' inicial contiene caracteres no numéricos y se desea 
# trabajar con los salarios como valores numéricos.

df_sin_nulos['salary_numeric'] = df_sin_nulos['salary'].replace('[^\d.]','', regex=True).str.extract('(\d+)'.astype(float))

In [ ]:
# Extrae el primer número válido (entero o decimal) de cada celda y lo convierte a float
df_sin_nulos['salary_numeric'] = df_sin_nulos['salary'].astype(str).apply(lambda x: float(re.search(r'\d+(?:\.\d+)?', x).group()) if re.search(r'\d+(?:\.\d+)?', x) else None)

In [ ]:
df_sin_nulos['salary_numeric']